body {font-family: Arial, Helvetica, sans-serif;}

.myBtn{
  border: none;
  outline: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  float: right;
  padding: 20px;
  border: 1px solid #888;
  max-width: 30%;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/**/
.cart-container{
  margin-left: 20px;
}

.cart-container h4{
  text-align: center;
}

.produk1-cart{
  line-height: 5px;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
}

.produk1-cart .checkbox{
  display: inline-grid;
}

.produk1-cart .barang img{
  float: left;
  display: block;
  margin-right: 10px;
}

.produk1-cart .barang .harga{
  color: red;
  padding-right: 20px;
  font-size: 14px;
}
.produk1-cart .barang .besar-diskon{
  color: red;
  padding-right: 20px;
  font-size: 12px;
}

.produk1-cart .barang .diskon{
  color: #857D7D;
  text-decoration: line-through;
  font-size: 12px;
}

.produk1-cart .barang .jumlah{
  color: #857D7D;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 30px;
  border: 1px solid black;
}

.produk1-cart .barang .jumlah .plus, .minus{
  border: none;
  outline: none;
  cursor: pointer;
}

.produk1-cart .barang .ukuran{
  color: #857D7D;
  font-size: 12px;
}

.produk1-cart button{
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-container .Total{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.cart-container .checkout{
  background-color: black;
  color: white;
  border-radius: 20px;
  align-items: center;
  padding: 15px;
  border: none;
  width: 100%;
}


/*******************/
/* ---HEADER--- */
header{
  background: white;
  color: black;
}

header #branding img{
  float: left;
}

header nav{
  float: right;
  margin-top: 10px;
}

header li{
  float: left;
  display: inline;
    padding: 0 10px 0 10px;
}

header a{
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lato';
  color: black;
}

ul{
  margin: 0;
  padding: 0;
}

header .active a{
  font-weight: bold;
}

header a:hover{
  color: rgba(233, 179, 163, 1);
  border-radius: 10px;
    text-align: center;
}

header .search{
    background-color: rgba(111,104,101,0.19);
    border: hidden;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

header .search img {
    float: left;
    padding-right: 10px;
}

.search input{
    background-color: rgba(111,104,101,0);
    border: none;
    outline: none;
}

/* ---SLIDE SHOW IMAGE--- */
.slide-container{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide-frame{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    15% {left:1440px;}
    30% {left: 2880px;}
    45% {left: 4320px;}
    55% {left: 4320px;}
    70% {left: 2880px;}
    85% {left: 1440px;}
    100% {left:0px;}
}

.slide-images{
    width: 5760px;
    height: 515px;
    margin: 0 0 0 -4320px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 515px;
    width: 1440px;
    position: relative;
    float: left;
}