* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

a {
	text-decoration: none;
}

body {
    background-color: white;
    height: fit-content;

    overflow-x: hidden;
}

/* ---HEADER--- */
header{
	background: white;
	color: black;
	padding-top: 10px;
	padding-bottom: 30px;
    min-height: 30px;
}

header #branding img{
    float: left;
    width: 112px;
    margin-left: 2%;
    margin-top: 3px;
}

header #branding li a{
    color: black;
    font-family: Poppins;
    align-items: center;
    line-height: 45px;
}

header nav{
	float: right;
    margin-top: 10px;
    margin-right: 2%;
}

header li{
	float: left;
	display: inline;
    padding: 0 10px 0 10px;
}

header a{
	text-decoration: none;
    font-size: 18px;
    color : black;
    font-family: Poppins;
}

header a:hover{
	color: #A75C40;
	background-color: white;
    border-radius: 10px;
    text-align: center;
}

header .search{
    margin-top: -4px;
    background-color: rgba(111,104,101,0.19);
    border: hidden;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

header .search img {
    padding-top: 5px;
    padding-bottom: 5px;
    /* belum ketemu cara supaya gambar search ga seukuran search box */
}

.search input{
    background-color: rgba(111,104,101,0);
    flex: 1;
    border: none;
    outline: none;
    padding-left: 3px;
    padding-bottom: 4px;
}

.profile a {
    bottom: 8px;
}

.name {
    font-family: Poppins;
    font-size: large;
    margin-top: 1%;
}

.name:hover {
    color: #A75C40;
    cursor: pointer;
}

/*--- BODY ---*/

.body-container {
    position: relative;
    margin: auto;
    
    width: 100%;
    min-height: fit-content;
    /*height: 800px; */
    background: white;
    text-align: center;
    font-family: Poppins;
}

.nama-produk {
    position: relative;
    text-align: left;
    margin: auto;
    display: block;

    color: white;
    background-color: #A5593C;
    border: 1px solid #A5593C;
    padding: 5px 5px 5px 10px;
    width: min(40vw, 350px);
    left: -25%;
    top: 30px;
}

.chat img {
    position: fixed;
    height: 30px;
    right: 10px;
    top: 15%;
    z-index: 2;
    overflow:hidden;
}

.mainphoto-container {
    position: relative;
    margin: auto;
    width: min(25vw, 300px);
    min-width: 300px;
    min-height: 250px;
    height: min(40vw, 300px); 
    top: min(5vw, 60px);
    float: left;
    margin-left: 10%;
    
    box-sizing: border-box;
    border: 1px solid white;
    font-family: Poppins;
}

.main-photo {
    position: relative;
    min-width: 300px;
    width: min(25vw, 300px);
    height: min(15vw, 300px);
    min-height: 150px;

    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    padding: 60px 20px;

    /*left: -25%; */
}

.photos-container {
    position: relative;
    margin-right: 100px;
    left: 50px;
    width: 650px;
    height: 600px; 
    
    top: min(5vw, 60px);
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;

    box-sizing: border-box;
    border: 1px solid white;
    font-family: Poppins;
    background-color: white;
}

.side-photos {
    position: relative;
    width: min(85vw, 700px);
    height: auto;
    
    align-items: center;
    margin-top: 50px;
    left: -40px;
}

.side-photo:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1;
}

.side-photo {
    position: relative;
    display: inline;
    width: 15%;
    height: auto;

    padding: 30px 15px;

    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.check-round {
    color: white;
    font-style: normal;
    font-size: 13px;

    box-sizing: border-box;
    border: 1px solid #80422A;
    background-color: #80422A;
    border-radius: 50%;
    padding: 10px 0px;
    margin-bottom: 10px;
    width: 40px;
} 

.disabled {
    color: white;
    font-style: normal;
    font-size: 13px;

    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
    border-radius: 50%;
    padding: 10px 0px;
    margin-bottom: 10px;
    width: 40px;
} 

.title-ukuran {
    position: relative;
    top: -10px;
    left: -30%;
    
    font-size: 18px;
    font-weight: 60;
}

.ukuran {
    position: relative;
    width : 230px;
    left: 35px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px 5px;
}

.cart-container {
    position: relative;
    width: 250px;

    top: -170px;
    left: 240px;
}

.harga {
    position: relative;
    text-align: center;
    margin: auto;
    display: block;

    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    width: min(8vw, 120px);
    font-size: min(2.5vw, 15px);
}

.newprice {
    position: relative;
    color: red;
    top: -25px;
    left: min(10vw, 100px);
}

.orgprice {
    position: relative;
    color: #857D7D;
    font-size: 12px;
    text-decoration: line-through;

    top: -45px;
    left: min(25vw, 168px);
}

.beli {
    position: relative;
    text-align: center;
    margin: auto;
    display: block;

    color: black;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    padding: 5px 5px 5px 5px;
    width: min(8vw, 120px);
    font-size: min(2.5vw, 15px);
}

.tokopedia img {
    position: relative;
    width: 40px;
    height: 35px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    margin-right: 5px;
    margin-left: 5px;
}

.tokopedia {
    position: relative;
    top: -40px;
    left: min(15vw, 150px);
}

.shopee img {
    position: relative;
    width: 30px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shopee {
    position: relative;
    top: -40px;
    left: min(15vw, 150px);
}

.addtowishlist {
    position: relative;
    padding: 5px 5px 5px;
    top: -20px;
    left: 4px;

    color: black;
    background-color: white;
    border: 1px solid #C4C4C4;
    padding: 5px 5px 5px 5px;
}

.addtowishlist:active {
    background-color: #C4C4C4;
}

.addtocart img {
    position: relative;
    top: 5px;
}

.desc-container {
    position: relative;
    width : 80%;
    top: -170px;

    text-align: left;
    left: 20px;
    background-color: white;
}

.desc-title {
    font-size: 18px;
    font-weight: bolder;

    margin-bottom: 10px;
}

/* ---FOOTER--- */
footer {
    position: relative;
    margin-top: 100px;
    margin-bottom: 0px;
    width: 100%;
    height: 180px;
    left: 0px;
    bottom: 0px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background: #FFFFFF;
}

.contact-container {
    position: relative;
    margin: auto;
    max-width: 100%;
    min-height: 135px; 
    background: #C4C4C4;
}

.contact-content {
    position: relative;
    margin-left: 100px;
}

.onestep-logo {
    width: 150px;
}

.loc-icon, .email-icon{
    width: 30px;
    display: inline;
    margin: 0px;
    margin-left: 7px;
}

.desc {
    /* sejajarin scr vertikal span sama logo nya */
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 20%;
    max-width: 30px;
    padding: 5px;
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.copyright-container {
    position: relative;
    width: 100%;
    height: 50px;
    display: inline-block;    

    background: black;

    text-align: center;
    vertical-align: middle;
    
    color: #FFFFFF;
}

.copyright {
    position: relative;
    text-align: center;
    top: 10px; /* Center copyright */
}


.help img {
    position: fixed;
    height: 30px;
    right: 10px;
    top: 15%;
    z-index: -1;
    overflow:visible;
}

@media only screen and (max-width: 700px) {
    header{
        background: white;
        color: black;
        padding-top: 10px;
        /* padding-bottom: 30px; */
        min-height: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .photos-container {
        position: relative;
        margin-right: 100px;
        left: 50px;
        width: 80%;
        height: 600px; 
        
        top: min(5vw, 60px);
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    
        box-sizing: border-box;
        border: 1px solid white;
        font-family: Poppins;
    }

    .side-photos {
        position: relative;
        width: min(85vw, 700px);
        height: auto;
        
        align-items: left;
        left: -2vw;
        background-color: white;
    } 

    .title-ukuran {
        position: relative;
        top: -10px;
        left: -8%;
        
        font-size: 18px;
        font-weight: 60;
    }

    .ukuran {
        position: relative;
        width : 170px;
        left: 100px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 5px;
    }

    .cart-container {
        position: relative;
        width: 250px;
    
        top : 30px;
        left: 0px;
    }

    .tokopedia {
        position: relative;
        top: -40px;
        left: min(20vw, 150px);
    }
    
    .shopee {
        position: relative;
        top: -40px;
        left: min(20vw, 150px);
    }

    .addtowishlist {
        left: 37px;
    }

    .addtocart {
        left: 24px;
    }
    
    .desc-container {
        position: relative;
        width : 80%;
        top: 0px;
        margin-bottom: 20px;

        text-align: left;
        left: 0vw;
    }

    footer {
        position: relative;
        max-height: 250px;

        top: 25vw;
    }
}

@media (max-width : 434px) {
    header{
        background: white;
        color: black;
        padding-top: 10px;
        min-height: 60px;
    }
    
    header #branding img{
        width: 80px;
        margin-top: 7px;
    }
    
    header #branding li a{
        color: black;
        font-family: Poppins;
        align-items: center;
        line-height: 45px;
        font-size: medium;
    }
    
    header nav{
        float: right;
        margin-top: 10px;
        margin-right: 2%;
    }
    
    header li{
        float: left;
        display: inline;
        padding: 0 10px 0 10px;
    }
    
    header a{
        text-decoration: none;
        font-size: 18px;
        color : black;
        font-family: Poppins;
    }
    
    header a:hover{
        color: #A75C40;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    .name {
        font-family: Poppins;
        font-size: medium;
        margin-top: 1%;
    }

    .nama-produk {
        position: relative;
        text-align: left;
        margin: auto;
    
        color: white;
        background-color: #A5593C;
        border: 1px solid #A5593C;
        padding: 5px 5px 5px 10px;
        width: 50%;
        left: -18%;
        top: 30px;
    }

    .mainphoto-container {
        position: relative;
        margin: auto;
        width: 70%;
        min-width: 250px;
        min-height: 150px;
        height: 70%; 
        top: min(5vw, 60px);
        float: left;
        margin-left: 10%;
        
        box-sizing: border-box;
        border: 1px solid white;
        font-family: Poppins;
    }
    
    .main-photo {
        position: relative;
        width: 90%;
        min-width: 250px;
        min-height: 150px;
        height: auto;
    
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4;
        padding: 60px 20px;
    
        /*left: -25%; */
    }

    .photos-container {
        position: relative;
        margin-right: 100px;
        left: 10px;
        width: 100%;
        height: 600px; 
        
        top: min(5vw, 60px);
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1px;
    
        box-sizing: border-box;
        border: 1px solid white;
        font-family: Poppins;
        background-color: white;
    }

    .side-photos {
        position: relative;
        width: 95%;
        height: auto;
        
        grid-template-columns: auto auto auto auto;
        align-items: center;
        margin-top: 50px;
        left: 0px;
    }

    .title-ukuran {
        position: relative;
        top: -10px;
        left: -7%;
        
        font-size: 18px;
        font-weight: 60;
    }

    .ukuran {
        position: relative;
        width : 170px;
        left: 85px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 5px;
    }

    .tokopedia {
        position: relative;
        top: -40px;
        left: min(22vw, 160px);
    }
    
    .shopee {
        position: relative;
        top: -40px;
        left: min(22vw, 160px);
    }

    .desc-container {
        position: relative;
        width : 90%;
        top: 25px;
        margin-bottom: 20px;

        text-align: left;
        left: 1.5vw;
    }

    footer {
        position: relative;
        max-height: 250px;
        padding-top: 200px;

        top: 0px;
    }
} 

@media (max-width : 354px) {
    header #branding img{
        float: left;
        width: 112px;
        margin-left: 4%;
        margin-top: 13px;
    }
    
    header #branding li a{
        color: black;
        font-family: Poppins;
        align-items: center;
        line-height: 45px;
        font-size: small;
    }

    header .search{
        margin-top: -4px;
        margin-left: 10px;
        background-color: rgba(111,104,101,0.19);
        border: hidden;
        border-radius: 25px;
        display: flex;
        align-items: center;
        width: 20%;
    }

    header .search img {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 22;
        height: 20px;
        /* belum ketemu cara supaya gambar search ga seukuran search box */
    }

    header nav img{
        width: 20px;
        height: 20px;
    }

    .name {
        font-family: Poppins;
        font-size: small;
        margin-top: 1%;
    }
}
