* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDDDDD;
    background-image: url(images/Layer.png);
    background-repeat: no-repeat;
    background-size: 100% 22%;
}

a {
	text-decoration: none;
}

/* ---HEADER--- */
header{
	background: white;
	color: black;
	padding-top: 10px;
	padding-bottom: 30px;
    min-height: 30px;
}

header #branding img{
    float: left;
    width: 112px;
    margin-left: 2%;
    margin-top: 3px;
}

header #branding li a{
    color: black;
    align-items: center;
    line-height: 45px;
}

header nav{
	float: right;
    margin-top: 10px;
    margin-right: 2%;
}

header li{
	float: left;
	display: inline;
    padding: 0 10px 0 10px;
}

header a{
	text-decoration: none;
    font-size: 18px;
    color : black;
}

header a:hover{
	color: #A75C40;
	background-color: white;
    border-radius: 10px;
    text-align: center;
}

header .search{
    margin-top: -4px;
    background-color: rgba(111,104,101,0.19);
    border: hidden;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

header .search img {
    padding-top: 5px;
    padding-bottom: 5px;
    /* belum ketemu cara supaya gambar search ga seukuran search box */
}

.search input{
    background-color: rgba(111,104,101,0);
    flex: 1;
    border: none;
    outline: none;
    padding-left: 3px;
    padding-bottom: 4px;
}

.profile a {
    bottom: 8px;
}

.name {
    font-size: large;
    margin-top: 1%;
}

.name:hover {
    color: #A75C40;
    cursor: pointer;
}


/*--- PROFILE ---*/
.profile-container {
    position: relative;
    margin: auto;
    min-width: fit-content;
    min-height: fit-content;
    width: 100%;
    height: 600px;
    top: 50px;
    bottom: 5px;
}

.profile-column {
    float: left;
    box-shadow: 0px 3px 5px #ACACAC;
}

.left {
    width: 20%;
    min-width: 250px;
    margin-left: 20%;
    background: white;
    box-sizing: border-box;
    border-radius: 70px;

    height: 550px;
}

.profile-data {
    position: relative;
    top: 20px;
    text-align: center;
}

.data {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 3%;
    border: hidden;
    display: flex;
    align-items: center;
}

.data img {
    margin-right: 5%;
}

.resetpass {
    margin-left: 45%;
    border: hidden;
    align-items: center;
    text-decoration: underline;
    color: #80422A;
}

.resetpass img {
    position: relative;
    width: 15px;
    height: 15px;
    top: 3.2px;
}

.right {
    width: 35%;
    min-width: 250px;
    margin-left: 1%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 70px;
    height: 550px;
}

.success {
    position: absolute;
    width: 35%;
    max-width: 350px;
    margin-left: 41%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 70px;
    height: 200px;
}

.profile-container::after {
    content: "";
    clear: both;
    display: table;
}

.edit {
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    border: hidden;
    display: flex;
    align-items: center;
}

form {
    position: relative;
    color: #888787;
    text-align: left;
    margin: auto;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 20px;
}

.star {
    color: #F41B1B
}

form input[type=text] {
    margin: 5px 0px;
    width: 90%; /* lebar input box */
    padding: 10px 10px; /*tinggi input  box*/
}

.simpan {
    position: relative;
    border: 1px solid #D3B094;
    border-radius: 5px;
    background-color:#D3B094;

    align-items: center;
    display: block;
    width: 30%;
    margin: 7% auto;
    padding: 5px 15px; /*tinggi input  box*/
    top: -30px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    color: #80422A;
}

.simpan:hover {
    background-color: #80422A;
    border: 1px solid #80422A;
    color: #FFFFFF;
    cursor: pointer;
}

.simpan form label {
    display: inline-block;
    margin-top: 2%;
}

.editprofile {
    color: #F41B1B;
}

.warning {
    text-align: right;
    padding-top: 2%;
}

.editprofile-success {
    color: #3BA711;
    font-size: large;
    text-align: center;
    padding-top: 18%;
}

.back {
    position: relative;
    border: 1px solid #D3B094;
    border-radius: 5px;
    background-color:#D3B094;

    /* align-items: center; */
    display: block;
    margin: 7% 30%;
    padding: 5px 15px; /*tinggi input  box*/
    top: -10px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    color: #80422A;
}

.back:hover {
    background-color: #80422A;
    border: 1px solid #80422A;
    color: #FFFFFF;
    cursor: pointer;
}

/* ---FOOTER--- */
footer {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 180px;
    left: 0px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background: #FFFFFF;
}

.contact-container {
    position: relative;
    margin: auto;
    max-width: 100%;
    min-height: 135px; 
    background: #C4C4C4;
}

.contact-content {
    position: relative;
    margin-left: 100px;
}

.onestep-logo {
    width: 150px;
}

.loc-icon, .email-icon{
    width: 30px;
    display: inline;
    margin: 0px;
    margin-left: 7px;
}

.desc {
    /* sejajarin scr vertikal span sama logo nya */
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 20%;
    max-width: 30px;
    padding: 5px;
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.copyright-container {
    position: relative;
    width: 100%;
    height: 50px;
    display: inline-block;    

    background: black;

    text-align: center;
    vertical-align: middle;
    
    color: #FFFFFF;
}

.copyright {
    position: relative;
    text-align: center;
    top: 10px; /* Center copyright */
}


.help img {
    position: fixed;
    height: 30px;
    right: 10px;
    top: 15%;
    z-index: -1;
    overflow:visible;
}


/* ---RESPONSIVE--- */
@media (max-width : 1415px) {
    .left {
        width: 20%;
        min-width: 250px;
        margin-left: 15%;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 550px;
    }

    .resetpass {
        margin-left: 30%;
        border: hidden;
        align-items: center;
        text-decoration: underline;
        color: #80422A;
    }

    .leftmost {
        margin-left: 7%;
    }

    .connect {
        position: absolute;
        height: 0;
        padding-top: 70.5px;
        padding-left: 169px;
    }

    .drp-calendar {
        margin: 0;
        height: 210px;
    }
}

@media (max-width : 950px) {
    header{
        background: white;
        color: black;
        padding-top: 10px;
        /* padding-bottom: 30px; */
        min-height: 70px;
    }

    header .search{
        margin-top: -4px;
        margin-left: 10px;
        background-color: rgba(111,104,101,0.19);
        border: hidden;
        border-radius: 25px;
        display: flex;
        align-items: center;
        width: 30%;
    }

    .profile-container {
        position: relative;
        margin: auto;
        min-width: fit-content;
        min-height: fit-content;
        width: 100%;
        height: 550px;
        top: 50px;
        bottom: 5px;
    }

    .left {
        width: 20%;
        min-width: 200px;
        margin-left: 10%;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 500px;
    }

    .profile-data h2 {
        font-size: medium;
    }

    .profile-data img {
        width: 80%;
    }
    
    .data {
        text-align: left;
        margin-left: 5%;
        margin-bottom: 3%;
        border: hidden;
        display: flex;
        align-items: center;
        font-size: small;
    }
    
    .data img {
        margin-right: 5%;
        width: 20px;
        height: 20px;
    }
    
    .resetpass {
        margin-left: 25%;
        border: hidden;
        display: flex;
        align-items: center;
    
        text-decoration: underline;
        color: #80422A;
        font-size: small;
    }
    
    .resetpass img {
        width: 15px;
        height: 15px;
    }
    
    .right {
        width: 30%;
        min-width: 350px;
        margin-left: 1%;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 500px;
    }

    .success {
        position: absolute;
        width: 30%;
        min-width: 350px;
        margin-left: calc(11% + 200px);
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 200px;
    }
    
    .profile-container::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .edit {
        width: fit-content;
        margin: auto;
        margin-top: 5%;
        border: hidden;
        display: flex;
        align-items: center;
        font-size: small;
    }

    .back {
        position: relative;
        top: 20px;
    }
}

@media (max-width : 705px) {
    header{
        background: white;
        color: black;
        padding-top: 10px;
        /* padding-bottom: 30px; */
        min-height: 70px;
    }

    .profile-container {
        position: relative;
        margin: auto;
        min-width: fit-content;
        min-height: fit-content;
        width: 100%;
        height: 950px;
        top: 50px;
        bottom: 5px;
    }

    .left {
        width: 80%;
        min-width: 200px;
        margin-left: 10%;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 375px;
    }

    .profile-data h2 {
        font-size: x-large;
    }

    .profile-data img {
        width: 20%;
    }

    .data {
        text-align: left;
        margin-left: 10%;
        margin-bottom: 3%;
        border: hidden;
        display: flex;
        align-items: center;
        font-size: medium;
    }

    .data img {
        margin-right: 5%;
        width: 24px;
        height: 24px;
    }

    .resetpass {
        margin-left: 65%;
        border: hidden;
        display: flex;
        align-items: center;
    
        text-decoration: underline;
        color: #80422A;
        font-size: small;
    }

    .resetpass img {
        width: 15px;
        height: 15px;
    }

    .right {
        position: relative;
        top: 20px;
        width: 80%;
        min-width: 200px;
        margin-left: 10%;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 550px;
    }

    .success {
        width: 80%;
        min-width: 200px;
        margin-left: 22vw;
        margin-top: 450px;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 200px;
        top: -400px;
    }
    
    .back {
        left: -10px;
    }
    
    footer {
    position: relative;
    margin-top: 15%;
    width: 100%;
    height: 180px;
    left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    background: #FFFFFF;
}

    .contact-container {
        min-height: 165px; 
    }

    .contact-content {
        position: relative;
        margin-left: 50px;
    }

    .copyright-container {
        top: -30px;
        margin-bottom: -30px;
    }
}

@media (max-width : 500px) {
    header{
        background-color: white;
        color: black;
        padding-top: 10px;
        /* padding-bottom: 30px; */
        min-height: 60px;
    }

    .profile-data h2 {
        font-size: large;
    }

    .success {
        width: 80%;
        min-width: 200px;
        margin-left: 12vw;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 70px;
        height: 200px;
        top: -400px;
    }

    .simpan {
        width: 40%;
    }
}

@media (max-width : 434px) {
    header{
        background-color: white;
        color: black;
        padding-top: 10px;
        /* padding-bottom: 30px; */
        min-height: 60px;
    }

    header #branding img{
        width: 80px;
        margin-top: 7px;
    }
    
    header #branding li a{
        color: black;
        align-items: center;
        line-height: 45px;
        font-size: medium;
    }

    header .search{
        margin-top: -4px;
        margin-left: 10px;
        background-color: rgba(111,104,101,0.19);
        border: hidden;
        border-radius: 25px;
        display: flex;
        align-items: center;
        width: 25%;
    }

    header .search img {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 22;
        height: 20px;
        /* belum ketemu cara supaya gambar search ga seukuran search box */
    }

    header nav img{
        width: 25px;
        height: 25px;
    }

    .name {
        font-size: medium;
        margin-top: 1%;
    }
}

@media (max-width : 354px) {
    header #branding li a{
        color: black;
        align-items: center;
        line-height: 45px;
        font-size: small;
    }

    header .search{
        margin-top: -4px;
        margin-left: 10px;
        background-color: rgba(111,104,101,0.19);
        border: hidden;
        border-radius: 25px;
        display: flex;
        align-items: center;
        width: 20%;
    }

    header .search img {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 22;
        height: 20px;
        /* belum ketemu cara supaya gambar search ga seukuran search box */
    }

    header nav img{
        width: 20px;
        height: 20px;
    }

    .name {
        font-size: small;
        margin-top: 1%;
    }

    .drp-calendar {
        margin: 0;
        height: 210px;
    }
}