html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -40px;
}

/* ---NAVIGATION BAR--- */
nav {
    background: white;
	color: black;
    min-height: 90px;
    box-shadow: 0 2px 5px -1px #069AB1;

    position: relative;
    z-index: 10;
}

nav img {
    float: left;
    margin-left: 2%;
    margin-top: 15px;

    width: 175px;
    padding-right: 2%;
    border-right: 2px solid #C4C4C4;
}

nav ul {
    width: 60%;
    min-width: fit-content;
    float: right;
}

nav li {
    float: right;
    display: inline;
    margin-right: 10%;
}

nav li a {
    line-height: 80px;
    text-decoration: none;
    color: black;

    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.active, nav li a:hover {
    color: #07AFC7;
    text-decoration: underline;
    text-decoration-color: #FFD54F;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
}

/* ---PROFILE BUTTON--- */
.profile-click {
    text-align: center;
}

.profile-click button {
    display: inline-block;

    margin: 25px 10px;
    width: 150px;
    padding: 10px 25px;

    font-size: large;
    font-weight: bold;

    border: 1px solid #07AFC7;
    color: #07AFC7;
    background-color: #FFFFFF;
}

.profile-click button:hover {
    border: 1px solid #FFD54F;
    color: #FFD54F;
    background-color: #FFFFFF;
    
    cursor: pointer;
}

/* ---PROFILE INFORMATION--- */
.content {
    max-height: 0;
    overflow: hidden;
}

#profile-container {
    margin: auto;
    text-align: center;
    padding: 25px;
}

.pekurban {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    text-align: left;
}

.pekurban span {
    display: inline-block;
    width: 40%;
    position: relative;
    padding-right: 10px;
    margin-bottom: 10px;
}

.pekurban span:after {
    content: ":";
    position: absolute;
    right: 10px;
}

.confirmation {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

.confirmation img {
    width: 100%;
}

.pekurban h2, .confirmation h2, .progres h2, .hewan h2, .picture h2, .tahap-container h2 {
    font-size: large;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FFD54F;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    margin-bottom: 15px;
}

.confirmation button {
    margin: 25px 35% 10px;
    width: 30%;
    padding: 5px 0px;

    font-size: large;
    font-weight: bold;

    border: 1px solid #FFD54F;
    border-radius: 20px;
    background-color: #FFD54F;
}

.confirmation button:hover {
    border: 1px solid #07AFC7;
    color: #FFFFFF;
    background-color: #07AFC7;
    cursor: pointer;
}

.hewan {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    text-align: left;
}

.hewan span {
    display: inline-block;
    width: 40%;
    position: relative;
    padding-right: 10px;
    margin-bottom: 10px;
}

.hewan span:after {
    content: ":";
    position: absolute;
    right: 10px;
}

.picture {
    display: inline-block;
    vertical-align: middle;
    vertical-align: top;
    width: 400px;
}

.picture img {
    width: 100%;
    margin-top: 20px;
}

.timeline {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: #07AFC7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.tahap-container {
    padding: 10px;
    position: relative;
    width: 40%;
    text-align: left;
    border: 1px solid #07AFC7;
    text-align: center;
}

.tahap-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -55px;
    background-color: #FFFFFF;
    border: 4px solid #FFD54F;
    top: 15px;
    border-radius: 50%;
    z-index: 10;
}

.right::after {
    left: -55px;

}

.left {
    left: 0;
    margin-right: 50px;
}

.right {
    left: 48%;
    margin-left: 50px;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 10;
    right: -10px;
    border: medium solid #07AFC7;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #07AFC7;
}
  
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid #07AFC7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #07AFC7 transparent transparent;
}

/* ---FOOTER--- */
.push {
    height: 40px;
}

footer {
    height: 40px;
    background-color: #07AFC7;
    color: #FFFFFF;
}

.copyright-container {
    width: fit-content;
    margin: auto;
    padding-top: 10px;
}